body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

div {
  background-color: white;
  border: 1px solid #c43535;
  padding: 12px;
  margin: 12px auto;
  max-width: 300px;
}

h2 {
  margin: 0;
}

p {
  margin: 4px 0 0 0;
}
