body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.personagem {
  background-color: white;
  border: 3px solid #ccc;
  padding: 12px;
  margin: 12px auto;
  max-width: 300px;
}

.nome {
  font-weight: bold;
}

.vida {
  color: #555;
}

#log-eventos {
  background-color: #111;
  color: #0f0;
  font-family: monospace;
  padding: 10px;
  max-width: 400px;
  margin: 10px auto;
  min-height: 60px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 8px 12 px;
}
